{% extends "title_page/title_page.html" %}
{% load static %}

{% block main %}
    <div class="row">
            <p class="first_letter justify col-md-4">
                    Я называю размещение своего резюме - проектом. Суть проста,
                в этом мире одним нужны разработчики, другим работа. Соискателю,
                трудно доказать свою компетенцию. А работодателю сложно
                доверять человеку без опыта "коммерческой разработки".
            </p>
            <p class="first_letter justify col-md-4">
                    В этом проекте я попытаюсь решить задачи, которые,
                нахожу интересными с отчетом о проделанной работе и видео
                материалом, пройдя по которому можно
                будет восстановить навыки или изучить, что-то новое.
                Прокомментировать, задать вопрос, может предложить свои
                интересные задачи.
            </p>
            <p class="first_letter justify col-md-4">
                    На подобное откровение меня вдохновил Сомнез Джон.
                - Джон, спасибо!
                    Я еще читаю твою книгу ("Путь программиста") и думаю, что
                еще не раз прочитаю." <br>
                    Путь программиста" - книга не о том, как
                писать код. Она для таких как я. Ищущих себя на протяжении
                долгих лет и не знающих, как войти в список разработчиков:
                    -Google, Amazon, Apple. Да в общем то, не имея ни чего,
                кроме собственного опыта.
                Эту книгу мне посоветовал мой друг!<br>
                -Олег , спасибо! Я ценю этот совет больше других. =)
            </p>
    </div>
    <div class="row">
            <p class="first_letter justify col-md-4">
                   Я только начал писать и по ряду вопросов могу не дать ссылки
                на источник. Только если Вы прямо не потребуете её от меня. Не,
                то бы мне было жалко, я пока не представляю каким контекстом или
                какими достоверными источниками я бы мог делиться. Я думаю, что
                могу делится ссылками на книги или rfc. Но я не верен могу ли
                давать ссылку на Wiki или принимать ее в серьёз. Пока, что я
                думаю, что это социальная сеть, такая же как VK.
            </p>
    </div>
{% endblock %}