{% extends "title_page/def_url.html" %}
{% load static %}

{% block left_top %}
    <a href="{% url 'me-view' %}" rel="noopener">
        <h2>Обо мне</h2>
    </a>
{% endblock %}


{% block top_right %}
     <a href="{% url 'project-view' %}" rel="noopener">
        <h2>О проекте </h2>
    </a>
{% endblock %}


{% block main %}
    <div class="row">
        <img class="col-md-4" src="{% static 'my.jpg' %}" alt='My photo'/>

            <p class="first_letter justify col-md-4">
                    Как же тяжело даются первые строки начинающему блогеру.
                Я стараюсь сконцентрироваться на мысли, что люди просто начинают
                писать каждый день. Они не ждут вдохновения, что бы написать
                заметку о себе или "Войну и Мир". Кажется, это становится делом
                привычки. Правда я не представляю, какой текст возле моей
                фотографии сможет меня характеризовать и не быть при этом
                слишком вычурным. Хочется, конечно, что бы несколько
                высокопарных фраз довели вас до апогея катарсиса.
                Но вы же понимаете, что я шучу. =)
            </p>
            <p class="first_letter justify col-md-4">
                    Я решил не говорить о себе, как разработчике или инженере.
                Вообще постараюсь обойти вопросы профессии на заглавной
                странице. Сосредоточусь в основном на "мягких навыках".
                Свои профессиональные навыки я намерен, неделя за неделей
                пополнять и выкладывать. Т.е. я буду делать, многое из того,
                чего не умею. Просто, что бы хоть как то расти.
            </p>
    </div>
    <div class="row">
        <p class="first_letter justify col-md-4">
                Проблема в том, что находясь на своей позиции я не могу
            заниматься: программированием, наукой, cisco или QoS и т.д.
            Теми направлениями, которыми интересовался всегда. Очень, сложно
            приходя с работы эффективно заниматься, пробовать и тем более
            обучать кого-то. Я решил, что могу собственными силами организовать
            свой досуг, так, что бы читать не менее 1 книги в месяц. Или
            писать код, или делать что то для сайта.
        </p>
        <p class="first_letter justify col-md-4">
                Всякий раз, как кто меня похвалит, я начинаю сомневаться. То
            есть я достиг определенных успехов в изучении, только потому,
            что ни когда, ни считал свой успех за результат. Конечно, важно
            когда тебя ценят или замечают, но гораздо важнее, когда тебя
            подстегивают. Когда тебе говорят, что это не реализовано нигде.
            Или что это чертовски сложная задача. В моей памяти есть несколько
            таких, рабочих "хотелок", до которых ни у кого, ни хватило духу.
            Да-да именно духу. На первую "невозможную" задачу было потрачено 13
            месяцев. Даже наоборот я считаю, что не возможно было не достичь
            успеха, потратив на задачу столько сил. =)
        </p>
        <p class="first_letter justify col-md-4">
                Важное место, в моей жизни занимает самоподготовка. Я шел к
            этой простой формуле очень долго. Но в итоге понял, что не могу
            жить без учебы. Как бы ни было трудно, для меня важно расти.
            Недавно мой руководитель сказал, что он может, отправить меня мыть
            полы. И я не смогу ему отказать. Просто потому, что ему
            "до лампочки", плюсы от моего приложения или идей.
            Если бы я ни как ни развивался, то наверно согласился бы с такой
            точкой зрения. И продолжал бы покорно исполнять обязанности.
            Но, что-то подсказывает мне, что в итоге он проиграет куда больше.
                Во-первых, потому что, нам становится
            сложнее адаптироваться к меняющимся или развивающимся технологиям.
            И говоря и технологии нет, мы рискуем остаться с палкой в руках у
            костра.
                Во-вторых, я верю в силу слова. Около четырех лет моя
            работа требовала управления несколькими сотрудниками. Их
            вдохновляли на подвиги прозрачность процесса и открытый диалог. А
            так же для всех них был важен положительный отзыв. Я не
            представляю, каких результатов можно ждать от коллеги, если
            пытаешься его запугать.
                С этими сложностями помогает справиться, как ни странно книга.
            Я помню, простой совет в одной из таких книг. <br>
            -Держись от таких людей подальше! (Или разговаривай с ними только
            по работе.)<br>
            Уверенность в себе очень просто потерять. Поэтому мой вам совет,
            читайте книги!
        </p>
    </div>


{% endblock %}


{% block left_bottom %}
   {{ block.super }}
{% endblock %}


{% block middle_bottom %}
    {{ block.super }}
{% endblock %}


{% block right_bottom %}
    {{ block.super }}
{%  endblock %}